body {
    background-image: radial-gradient(circle 1292px at -13.6% 51.7%, rgba(0, 56, 68, 1) 0%, rgba(163, 217, 185, 1) 51.5%, rgba(255, 252, 247, 1) 88.6%);
    /* Light gray background color */
}

.weather-container {
    background-color: #ada9a9;
    /* White container background color */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for container */
    text-transform: capitalize;
}

.weather-icon {
    font-size: 50px;
    color: #f39c12;
    /* Sun color */
}

.search-box {
    margin-top: 20px;
}

/* Centering container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    color: #007bff;
    /* Bootstrap primary color */
}